:root {
  --bg: #c8d0d8;
  --fg: #383430;
  --accent-bg: #dbe0e4;
  --accent-fg: #223;
  --midtone: #888;
  --font: serif;
  --mono: monospace;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font);
  font-size: larger;
}

h1 { text-align: center; }

div#cats {
  width: calc(100% - 14em);
}

div.unloaded-category { cursor: pointer }

div.thumb {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0.5ex;
  width: 2em; height: 2em;
  text-align: center;
  border: 1px solid var(--midtone);
  border-radius: 0.5ex;
  background-color: var(--accent-bg);
  cursor: pointer;
}

div.thumb span {
  /* display: inline-block; */
  position: absolute;
  font-size: larger;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

div#details {
  position: fixed;
  top: 1em; right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-bg);
  border: 1px solid var(--midtone);
  border-radius: 1em;
  gap: 1ex;
  padding: 1em;
  width: 12em;
}

div#details span.big { font-size: 1000% }
div#details span.sub { font-family: var(--mono); }
div#details span { text-align: center; }

span.expand { font-family: (--mono); }
